html {
  font-size: 62.5%;
}

.wrapper {
  max-width: 80rem;
  margin: 0 auto;
}

.container {
  padding: 0 2.7rem;
}

body {
  font-size: 1.4rem;
  line-height: calc(20 / 14);
  font-family: $font-primary;
  font-weight: 400;
  color: $color-text-common;
}

canvas {
  width: 32rem !important;
  height: 32rem !important;
  margin: auto;
}

form {
  width: 100%;
}
