html {
  font-size: 62.5%;
}

.wrapper {
  max-width: 80rem;
  margin: 0 auto;
  text-align: center;
}

.container {
  padding: 0 2.7rem;
}

body {
  font-size: 1.4rem;
  line-height: calc(20 / 14);
  font-family: $font-primary;
  font-weight: 400;
  color: $color-text-common;
  background-color: rgba(239, 239, 239, 255);
}

canvas {
  width: 32rem !important;
  height: 32rem !important;
  margin: auto;
}

form {
  width: 100%;
}

a {
  text-decoration: none;
  color: $color-primary;
  font-weight: 700;
}

.global-heading {
  font-size: 2rem;
  font-weight: 700;
  line-height: calc(29 / 20);
}

.global-desc {
  font-size: 1.2rem;
  color: $color-4;
  line-height: calc(17 / 12);
}