.rich-text-editor {
  margin: 20px;

  .quote .rdw-option-wrapper {
    background-image: url('https://c.neh.tw/thumb/f/720/comvecteezy638533.jpg');
    text-indent: -9999px;
    background-size: cover;
    background-repeat: no-repeat;
    white-space: nowrap;
    overflow: hidden;
    font-size: 0px;
  }

  .demo-wrapper {
    border: 1px solid $color-3;
    border-radius: 4px;
  }

  .rdw-editor-toolbar.toolbar-class {
    justify-content: center;
    background: #f6f7f7;
    margin: 3px;
  }

  .demo-editor {
    border-top: 1px solid $color-3;
    padding: 0 8px;
    min-height: 20rem;
  }
}
