// font
$font-primary: 'Noto Sans JP', sans-serif;
$font-secondary: 'Roboto', sans-serif;

// font weight
$font-weight-normal: 400;
$font-weight-bold: 700;

// colors
$color-text-common: #232b39;
$color-primary: #2ca2ab;
$color-secondary: #f44f6d;

// other colors add here
$color-white: #ffffff;
$color-black: #000000;
$color-1: #59b7c5;
$color-2: #ff7c8a;
$color-3: #cccccc;
$color-4: #777777;
$color-5: #888888;
$color-6: #efefef;
